.landing .description {
  margin-top: 20px;
  margin-bottom: 20px; }
  .landing .description p span::before {
    content: ' '; }
  .landing .description p a::before {
    content: ' '; }
.landing .container {
  margin-bottom: 20px; }
@media (max-width: 767px) {
  .landing h2 {
    font-size: 12px; } }
@media (min-width: 480px) {
  .landing h2 {
    font-size: 16px; } }
.landing h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px; }
.landing pre code {
  background: #f3f6fb;
  border: solid 1px #e7eaee;
  display: block;
  padding: 10px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  overflow: auto;
  font-family: 'Source Code Pro', monospace; }
  @media (max-width: 767px) {
    .landing pre code {
      font-size: 10px;
      height: 180px; } }
  @media (min-width: 480px) {
    .landing pre code {
      font-size: 11px;
      height: 192px; } }
.landing p {
  padding: 10px; }
.landing .frame {
  margin-bottom: 20px; }

.custom-title-area {
  border-bottom: 10px solid #3ac;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #242a33; }
  .custom-title-area h1, .custom-title-area h2, .custom-title-area h3, .custom-title-area h4, .custom-title-area h5, .custom-title-area h6 {
    margin: 0;
    padding: 0; }
  .custom-title-area .custom-headline {
    color: #d7dae3;
    font-family: 'Open Sans', sans-serif; }
    .custom-title-area .custom-headline h1 {
      font-weight: 700;
      margin-bottom: 15px; }
      @media (max-width: 767px) {
        .custom-title-area .custom-headline h1 {
          font-size: 32px; } }
      @media (min-width: 480px) {
        .custom-title-area .custom-headline h1 {
          font-size: 42px; } }
    .custom-title-area .custom-headline h2 {
      font-weight: 500;
      margin-bottom: 23px; }
      @media (max-width: 767px) {
        .custom-title-area .custom-headline h2 {
          font-size: 14px; } }
      @media (min-width: 480px) {
        .custom-title-area .custom-headline h2 {
          font-size: 24px; } }
    .custom-title-area .custom-headline .buttons button {
      color: #d7dae3;
      border-style: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.1s ease-in;
      background-color: #3ac; }
      @media (max-width: 767px) {
        .custom-title-area .custom-headline .buttons button {
          padding: 10px;
          font-size: 13px;
          width: 120px; } }
      @media (min-width: 480px) {
        .custom-title-area .custom-headline .buttons button {
          padding: 15px;
          font-size: 15px;
          width: 150px; } }
      .custom-title-area .custom-headline .buttons button.get-started {
        margin-right: 2px; }
      .custom-title-area .custom-headline .buttons button.documentation {
        margin-left: 2px; }
      .custom-title-area .custom-headline .buttons button:hover {
        background-color: #2b7a99; }
      .custom-title-area .custom-headline .buttons button:focus {
        outline: none; }
  .custom-title-area .icons {
    position: absolute;
    right: 10px;
    top: -5px; }
    .custom-title-area .icons a {
      margin: 0;
      padding: 0; }
    .custom-title-area .icons .github {
      font-size: 40px;
      color: #d7dae3; }
    .custom-title-area .icons .gitter {
      width: 36px;
      margin-left: 5px;
      position: relative;
      top: 2px; }

.docs .header {
  background-color: #242a33;
  border-bottom: solid 2px #3ac; }
  .docs .header a {
    color: #d7dae3 !important; }
    .docs .header a:hover {
      color: #3ac !important; }
    .docs .header a.active {
      color: #3ac !important; }
  .docs .header ul {
    border-style: none; }
    .docs .header ul li {
      border-style: none; }
.docs a {
  color: #3ac; }
  .docs a:visited {
    color: #3ac; }
  .docs a:hover {
    color: #2b7a99; }

html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  font-family: 'Open Sans', sans-serif; }

.bold {
  font-weight: bold; }
