pre > code {
  background: #f3f6fb;
  border: solid 1px #e7eaee;
  border-top: solid 1px #dbdde2;
  border-left: solid 1px #e2e5e9;
  display: block;
  padding: 10px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  overflow: auto;
  font-family: 'Source Code Pro', monospace;
}