@import "palette";
@import "responsive";

.docs {
  .header {
    h1 {
      @include atOrBelowMobileSize {
        font-size: 16px;
      }
      @include aboveMobileSize {
        font-size: 20px;
      }
    }
    text-shadow: none;
    background-color: $dark-blue;
    a {
      color: $very-light-grey !important;
      &:hover {
        color: $light-blue !important;;
      }
      &.active {
        color: $light-blue !important;
      }
    }
    ul {
      border-style: none;
      li {
        border-style: none;
        @include atOrBelowMobileSize {
          font-size: 14px;
          margin-top: 4px;
        }
        @include aboveMobileSize {
          font-size: 16px;
        }
      }
    }

    border-bottom: solid 2px $light-blue;
  }
  a {
    color: $light-blue;
    &:visited {
      color: $light-blue;
    }
    &:hover {
      color: $hover-light-blue;
    }
  }
  .content {
    @include atOrBelowMobileSize {
      padding-top: 20px;
      h1 {

      }
    }
    @include aboveMobileSize {

    }
  }
}