@import "palette";
@import "responsive";

footer {
  padding-top: 45px;
  border-top: 10px solid $light-blue;
  background-color: $dark-blue;
  z-index: 5;
  color: $very-light-grey;
  padding-bottom: 45px;
  h2 {
    font-size: 25px;
  }
}