@import "palette";
@import "responsive";

$button-margin: 12px;

.custom-title-area {
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0
  }
  border-bottom: 10px solid $light-blue;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: $dark-blue;
  .custom-headline {
    color: $very-light-grey;
    font-family: $font;
    h1 {
      @include atOrBelowMobileSize {
        font-size: 40px;
      }
      @include aboveMobileSize {
        font-size: 52.5px;
      }
      font-weight: 700;
      margin-bottom: 15px;
    }
    h2 {
      @include atOrBelowMobileSize {
        font-size: 17.5px;
      }
      @include aboveMobileSize {
        font-size: 30px;
      }
      font-weight: 500;
      margin-bottom: 23px;
    }
    .buttons {
      button {
        color: $very-light-grey;
        border-style: none;
        border-radius: 5px;
        @include atOrBelowMobileSize {
          padding: 10px;
          font-size: 16px;
          width: 150px;
        }
        @include aboveMobileSize {
          padding: 16px;
          font-size: 21px;
          width: 200px;
        }
        cursor: pointer;
        transition: background-color 0.1s ease-in;
        background-color: $light-blue;
        &.get-started {
          margin-right: $button-margin / 2;
        }
        &.documentation {
          margin-left: $button-margin / 2;
        }
        &:hover {
          background-color: $hover-light-blue;
        }
        &:focus {
          outline: none;
        }
      }
    }
  }
  .icons {
    position: absolute;
    right: 10px;
    top: -5px;
    a {
      margin: 0;
      padding: 0;
    }
    .github {
      font-size: 40px;
      color: $very-light-grey
    }
    .gitter {
      width: 36px;
      margin-left: 5px;
      position: relative;
      top: 2px;
    }
  }
}
