@import "responsive";

.landing {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  .site-content {
    flex: 1;

    .container {
      &.description {
        @include atOrBelowMobileSize {
          margin-top: 10px;
          margin-bottom: 4px;
        }
        @include aboveMobileSize {
          margin-top: 20px;
          margin-bottom: 20px;
        }

        p {
          span {
            &::before {
              content: ' ';
            }
          }
          a {
            &::before {
              content: ' ';
            }
          }
        }
      }
      @include atOrBelowMobileSize {
        margin-bottom: 10px;
      }
      @include aboveMobileSize {
        margin-bottom: 20px;
      }
    }
    h2 {
      @include atOrBelowMobileSize {
        font-size: 15px;
      }
      @include aboveMobileSize {
        font-size: 20px;
      }
    }
    h3 {
      @include atOrBelowMobileSize {
        font-size: 22px;
        margin-bottom: 6px;
      }
      @include aboveMobileSize {
        font-size: 26px;
        margin-bottom: 10px;
      }
      font-weight: bold;
    }
    pre {
      code {
        background: #f3f6fb;
        @include atOrBelowMobileSize {
          font-size: 12.5px;
        }
        @include aboveMobileSize {
          font-size: 14px;
          height: 242px;
        }
        border: solid 1px #e7eaee;
        display: block;
        padding: 10px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        overflow: auto;
        font-family: 'Source Code Pro', monospace;
      }
    }
    p {
      padding: 10px;
    }
    .frame {
      margin-bottom: 20px;
    }
  }

}