$dark-blue: rgb(36, 42, 51);
$light-blue: rgb(74, 125, 179);
$hover-light-blue: rgb(65, 106, 153);
$red: rgb(175, 76, 88);
$hover-red: rgb(153, 69, 76);
$white: rgb(255, 255, 255);
$very-light-grey: rgb(215, 218, 227);
$light-grey: rgb(235, 237, 243);
$dark-grey: rgb(77, 80, 86);

$font: 'Open Sans', sans-serif;
