@import "palette";
@import "landing";
@import "header";
@import "footer";
@import "responsive";
@import "docs";
@import url("//fonts.googleapis.com/css?family=Montserrat:700|Open+Sans:300");
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

a {
  color: $light-blue;
  cursor: pointer;
  &:visited {
    color: $light-blue;
  }
  &:hover {
    color: $hover-light-blue;
  }
}

html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  font-family: $font;
  height: inherit;
  @include atOrBelowMobileSize {
    font-size: 14px;
  }
  @include aboveMobileSize {
    font-size: 16px;
  }
}

.bold {
  font-weight: bold;
}