@import "palette";
@import "landing";
@import "header";
@import "footer";
@import "docs";

a {
  color: $light-blue;
  cursor: pointer;
  &:visited {
    color: $light-blue;
  }
  &:hover {
    color: $hover-light-blue;
  }
}

html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  font-family: $font;
  height: inherit;
}

.bold {
  font-weight: bold;
}