<ul class="nav nav-list">
    <li class="active"><a href="Getting_Started.html">Getting Started</a></li>
    <li><a href="../../../../../private/tmp/rest-site/Examples/index.html" class="folder">Examples</a>
        <ul class="nav nav-list">
            <li><a href="../../../../../private/tmp/rest-site/Examples/GitHub_Flavored_Markdown.html">GitHub
                Flavored Markdown</a></li>
            <li><a href="../../../../../private/tmp/rest-site/Examples/Code_Highlighting.html">Code
                Highlighting</a></li>
        </ul>
    </li>
    <li><a href="#" class="aj-nav folder">More Examples</a>
        <ul class="nav nav-list">
            <li><a href="../../../../../private/tmp/rest-site/More_Examples/Hello_World.html">Hello World</a>
            </li>
        </ul>
    </li>
</ul>
<div class="well well-sidebar">

    <!-- Links -->
    <a href="https://github.com/justinwalsh/daux.io/archive/master.zip" target="_blank">Download</a><br><a
        href="https://github.com/justinwalsh/daux.io" target="_blank">GitHub Repo</a><br><a
        href="https://github.com/justinwalsh/daux.io/issues" target="_blank">Help/Support/Bugs</a><br><a href="#"
                                                                                                         id="toggleCodeBlockBtn"
                                                                                                         onclick="toggleCodeBlocks();">Show
    Code Blocks Inline</a><br>
    <!-- Twitter -->
    <div class="twitter">
        <hr/>
        <iframe allowtransparency="true" frameborder="0" scrolling="no" style="width:162px; height:20px;"
                src="https://platform.twitter.com/widgets/follow_button.html?screen_name=justin_walsh&amp;show_count=false"></iframe>
    </div>
    <div class="twitter">
        <hr/>
        <iframe allowtransparency="true" frameborder="0" scrolling="no" style="width:162px; height:20px;"
                src="https://platform.twitter.com/widgets/follow_button.html?screen_name=todaymade&amp;show_count=false"></iframe>
    </div>
</div>