<!--suppress HtmlUnknownTarget -->
<ul class="nav nav-list">
    <li><a href="{{site.baseurl}}/docs.html">Getting Started</a></li>
    <li><a href="{{site.baseurl}}/concepts.html">Concepts</a></li>
    <li><a href="{{site.baseurl}}/docs.html">Object Mapping</a></li>
    <li><a href="{{site.baseurl}}/docs.html">Descriptors</a></li>
    <li><a href="{{site.baseurl}}/docs.html">Remote Queries</a></li>
    <li><a href="{{site.baseurl}}/docs.html">Pagination</a></li>
    <li><a href="{{site.baseurl}}/docs.html">Local Queries</a></li>
    <li><a href="{{site.baseurl}}/docs.html">Notifications</a></li>
    <li>
        <a href="#" class="aj-nav folder">Recipes</a>
        <ul class="nav nav-list">
            <li><a href="#">Inter-Collection Relationships</a></li>
            <li><a href="#">Complex Queries</a></li>
            <li><a href="#">PouchDB Synchronisation</a></li>
        </ul>
    </li>
</ul>
<div class="well well-sidebar">

    <!-- Links -->
    <a href="#" target="_blank">Download</a><br><a
        href="https://github.com/mtford90/rest" target="_blank">GitHub Repo</a><br><a
        href="https://github.com/mtford90/rest/issues" target="_blank">Help/Support/Bugs</a><br><a href="#"
                                                                                                   id="toggleCodeBlockBtn"
                                                                                                   onclick="toggleCodeBlocks();">Show
    Code Blocks Inline</a><br>
    <!-- Twitter -->
    <div class="twitter">
        <hr/>
        <iframe allowtransparency="true" frameborder="0" scrolling="no" style="width:162px; height:20px;"
                src="https://platform.twitter.com/widgets/follow_button.html?screen_name=justin_walsh&amp;show_count=false"></iframe>
    </div>
    <div class="twitter">
        <hr/>
        <iframe allowtransparency="true" frameborder="0" scrolling="no" style="width:162px; height:20px;"
                src="https://platform.twitter.com/widgets/follow_button.html?screen_name=todaymade&amp;show_count=false"></iframe>
    </div>
</div>