doctype html
html
  head
    title Siesta
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width')
    meta(content='Siesta', property='og:title')
    meta(content='Object Mapping for Javascript', name='description')
    script(src='vendor/jquery/dist/jquery.min.js')
    script(src='vendor/flatdoc/legacy.js')
    script(src='vendor/flatdoc/flatdoc.js')
    script(src='vendor/flatdoc/theme-white/script.js')
    script(src='js/activeLinks.js')
    script(type='text/javascript').
      Flatdoc.run({
        fetcher: Flatdoc.file("!{markdown}")
      });
    link(href='css/theme.css', rel='stylesheet')
    link(href='css/main.css', rel='stylesheet')
  body(role='flatdoc').docs
    .header
      .left
        h1
          a(href='/siesta').
            Siesta
        ul
          li
            a(href='guide.html') Guide
          li
            a(href='docs.html') Documentation
        .right
          a(href='https://gitter.im/mtford90/siesta?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge')
            img(src='img/gitter.svg', alt='Gitter', data-canonical-src='https://badges.gitter.im/Join%20Chat.svg', style='max-width:100%;')

    .content-root
      block content