.custom-title-area
  .icons
    a.github(href='http://github.com/mtford90/siesta', tooltip='Github')
      i.fa.fa-github-square
    a.gitter(href='#', tooltip='Gitter')
      img.gitter(src='img/gitter-icon.png')
  .custom-headline
    h1 Siesta.js
    h2 An Object Graph framework for Javascript
    div(class='buttons')
      a(href='quickStart.html')
        button(class='get-started').
            Quick Start
      a(href='docs.html')
        button(class='documentation').
          Documentation