.custom-title-area
  .icons
    a.github(href='http://github.com/mtford90/siesta', tooltip='Github')
      i.fa.fa-github-square
    a.gitter(href='#', tooltip='Gitter')
      img.gitter(src='img/gitter-icon.png')
  .custom-headline
    h1 Ogre.js
    h2 An Object Graph for Javascript
    div(class='buttons')
      button(class='get-started').
        Quick Start
      button(class='documentation').
        Documentation